<%- include ('./partials/header.ejs')%>
<body >
        <!-- Responsive navbar-->
        <% if(user == undefined){%> 
            <%- include ('./partials/homenavbar.ejs')%>
      <%  }else{ %> 
        <%- include ('./partials/navbar.ejs')%>
        <%  } %> 
        <!-- Page header with logo and tagline-->
        <header class="py-5 bg-light border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="fw-bolder">Bem Vindo ao Bloogui!  </h1>
                    <p class="lead mb-0">Layout retirado da internet e modificado por mim </p>
                   
                </div>
            </div>
        </header>
       <!-- Page content-->
       <div class="container">
            <div class="row">
              
            <!-- Blog entries-->
            <div class="col-lg-8">
                
                <!-- Featured blog post-->
                <% articles.forEach(articles =>{%>
                    <div class="card mb-4">
                    <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                    <div class="card-body">
                        <div class="small text-muted" id="displayMoment"><%=articles.createdAt%></div>
                        <h2 class="card-title"><%=articles.title%></h2>
                        <p class="card-text"><% if (articles.body.length > 10 ) { %>
                        <p class="card-text"><%-articles.body.substring(0, 190) + ' ...'%></p>
                        <%}%>
                        </p>
                        <input type="hidden" name="id" value="<%=articles.id%>">
                        <a class="btn btn-primary" href="/post/<%-articles.slug%>">Leia mais →</a>
                    </div>
                </div>
                <% }) %> 

                
                <!-- Pagination-->
                <nav aria-label="Pagination">
                    <hr class="my-0" />
                    <ul class="pagination pagination-sm justify-content-center my-4">
                        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a></li>
                        <li class="page-item active"><a class="page-link " href="#!">1</a></li>
                        <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                        <li class="page-item" disabled ><a class="page-link" href="articles/page/1">Próximo</a></li>
                </nav>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
      <!-- Search widget-->
      <div class="card mb-4">
        <div class="card-header">Search </div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>
               <!-- Categories widget-->
               <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="card-body">
                        <div class="row">
                            
                           
                                  
                            <!--   EJS CATEGORIAS -->

                            <%- include ('./partials/categories.ejs')%>                      
                                   </div>
                                
                        </div>
                    </div>
                </div>
                <!-- Side widget-->
                <div class="card mb-6">
                    <div class="card-header">Mais visualizados</div>
                    
                </div>
            </div>
        </div>
    </div>
        <!-- Footer-->
        <footer class="py-3 bg-dark">
        <div class="container "><p class="m-2 text-center text-white ">Copyright &copy; Your Website 2022</p></div>
    </footer>
    <%- include ('./partials/footer.ejs')%>
    </body>
</html> 
